@import 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: $red_color;
}
.card-course-item{
    margin-top: 16px;
}
.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
.center-th{
    text-align: center;
}